@use "../presets" as *;
@use "../mixins" as *;

.compound {
  padding-top: 110px;
  padding-bottom: 90px;
  background-color: #ff9675;
  text-align: center;

  &__title {
    font-weight: 600;
    line-height: 1.2;
    margin: auto;


    @include xl-min {
      max-width: 720px;
      margin-bottom: 83px;
      font-size: 50px;
    }

    @include xl {
      margin-bottom: 75px;
      font-size: 20px;
    }
  }


  &__content {
    display: flex;


    @include xl-min {
      gap: 85px;
      justify-content: space-between;
    }

    @include xl-lg {
      gap: 65px;
      justify-content: center;
    }

    @include lg-xx {
      gap: 55px;
      justify-content: center;
    }

    @include xx {
      flex-direction: column;
    }
  }

  &__picture {
    @include xl-min {
      flex-basis: 0;
    }

    @include xl-xx {
      flex-basis: 33.333%;
    }

    @include xx {
      flex-direction: column;
    }
  }
}