@use "../presets" as *;
@use "../mixins" as *;
$width: 610px;

.hero {
  display: grid;
  align-items: center;

  padding-top: 128px;
  padding-bottom: 172px;

  gap: 50px 0;
  @include xl-min {
    grid-template-areas: "ttl pic" "dsc pic" "act pic" "nts pic";
    grid-template-columns: $width 1fr;
  }
  @include xl-lg {
    grid-template-areas: "ttl pic" "dsc pic" "act pic" "nts pic";
    grid-template-columns: 1fr 1fr;
  }
  @include lg {
    max-width: $width;

    text-align: center;

    grid-template-areas: "ttl" "dsc" "pic" "act" "nts";
  }

  &__title {
    margin: 0;

    font-weight: 600;
    line-height: 1.08;

    grid-area: ttl;
    @include xl-min {
      font-size: 65px;
    }
    @include xl {
      font-size: 45px;
    }
  }

  &__disctiption {
    font-weight: 400;
    line-height: 1.4;

    grid-area: dsc;
    @include xl-min {
      font-size: 25px;
    }
    @include xl {
      font-size: 20px;
    }
    @include lg-min {
      max-width: 471px;
    }
  }

  &__actions {
    display: flex;

    gap: 10px;
    grid-area: act;
    @include lg {
      justify-content: center;
    }
    @include xx {
      align-items: center;
      flex-direction: column;
    }
  }

  &__notes {
    line-height: 1.67;

    grid-area: nts;
    @include lg-min {
      margin-top: -25px;
    }
  }

  &__picture {
    grid-area: pic;
  }

  &__image {
    @include xl-min {
      width: 107%;
      margin-left: -70px;
    }
    @include xl {
      width: 100%;
    }
    @include md {
      width: 70%;
    }
  }
}
