@use "../presets" as *;
@use "../mixins" as *;

.integrate {
  padding-top: 160px;
  padding-bottom: 160px;
  text-align: center;


  &__title {
    max-width: 791px;
    font-weight: 600;
    line-height: 1.15;
    text-align: center;
    margin: auto;

    @include lg-min {
      font-size: 65px;
    }

    @include lg {
      font-size: 50px;
    }
  }

  &__description {
    margin: auto;
    max-width: 540px;
    font-size: 25px;
    line-height: 1.2;
    margin-bottom: 30px;
  }

  &__picture {
    margin-bottom: 15px;
  }

  &__image {
    @include lg-min {
      width: 83%;
    }

    @include lg {
      width: 100%;
    }
  }

  &__action {}
}