@use "../presets" as *;
@use "../mixins" as *;



.control,
.quality {
  @extend %job-control;

  &__content {
    @extend %job-content-left;
  }

  &__title {
    @extend %job-title;
  }

  &__description {
    @extend %job-description;
  }

  &__btn {
    @extend %job-btn;
  }

  &-picture {
    @extend %job-picture;
  }

  &__image {
    @extend %job-image;
  }
}

.time,
.work {
  flex-direction: row-reverse;

  @extend %job-control;

  &__content {
    @extend %job-content-right;
  }

  &__description {
    @extend %job-description;
  }

  &__btn {
    @extend %job-btn;
  }

  &-picture {
    @extend %job-picture;
  }

  &__image {
    @extend %job-image;
  }
}

%job-control {
  display: flex;
  align-items: center;

  gap: $gap-lg;
  @include lg-min {
    margin-top: 150px;
    margin-bottom: 150px;
  }
  @include lg {
    flex-direction: column;

    margin-bottom: 75px;
  }
}

%job-content-left {
  flex-basis: 200px;
  flex-grow: 1;

  @include xl-min {
    padding-right: 130px;
  }
  @include lg {
    text-align: center;
  }
}

%job-content-right {
  flex-basis: 200px;
  flex-grow: 1;

  @include xl-min {
    padding-left: 110px;
  }
  @include lg {
    text-align: center;
  }
}



%job-description {
  margin-bottom: 30px;

  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

%job-btn {
  margin-left: -5px;
  padding: 5px;

  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}

%job-picture {
  flex-basis: 200px;
  flex-grow: 1;

  @include lg {
    width: 100%;
  }
}

%job-image {
  width: 100%;
}
