@use "../presets" as *;
@use "../mixins" as *;

.teams {
  padding-top: 140px;
  padding-bottom: 150px;

  &__title {
    @include md-min {
      margin-bottom: 80px;
    }
    @include md {
      margin-bottom: 0;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;

    column-gap: 50px;
  }
}

.managers,
.developers,
.translators {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  flex-shrink: 1;

  @include md-min {
    flex-basis: 24%;

    margin-top: 0;

    gap: 20px;
  }
  @include md {
    flex-basis: 100%;

    margin-top: 70px;

    gap: 5px;
  }


  &__content {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;

    @include md {
      text-align: center;
    }
  }

  &__title {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.33;
  }

  &__descriptions {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
  }

  &__link {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;

    text-decoration-line: underline;
  }

  &__picture {
    width: 100%;
    height: 200px;

    @include md {
      text-align: center;
    }
  }
}
