@use "../presets" as *;
@use "../mixins" as *;

.footer-main {
  &__wrap {
    display: grid;

    border-bottom: 1px solid black;

    grid-template-areas: "cse ftmn";
    @include md {
      text-align: center;

      grid-template-areas: "ftmn" "cse";
    }
  }
}

.case {
  grid-area: cse;

  &__title {
    margin: 0;
    margin-bottom: 40px;
    padding-top: 10px;

    font-weight: 600;
    line-height: 1.25;

    grid-area: ttl;
    @include md-min {
      font-size: 40px;
    }
    @include md {
      font-size: 35px;
    }
  }

  &__picture {
    margin-bottom: 10px;

    grid-area: pic;
  }



  &__logo {
    grid-area: logo;
  }



  &__description {
    margin: 0;
    margin-bottom: 30px;

    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;

    grid-area: dsc;
    @include md-min {
      max-width: 290px;
    }
    @include md {
      text-align: center;
    }
  }

  &__more {
    margin-bottom: 100px;
  }

  &__more-link {
    margin-left: -1em;
    padding: 1em;

    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;

    grid-area: link;
  }
}
