@use "../presets" as *;
@use "../mixins" as *;

.container {
  width: min(100% - 40px, 1290px);
  margin-inline: auto;
}

.btn {
  font-weight: 600;
  font-size: $font-size;
  text-align: center;

  color: #ffffff;

  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}

.btn--light {
  border-color: rgba($color-primary, 0.5);
  color: $color-primary;
}

.btn--accent {
  background-color: $color-accent;
  border-color: $color-accent;
}

.btn--dark {
  background-color: $color-primary;
  border-color: $color-primary;
}

.btn--sm {
  @include md-min {
    min-width: 120px;
    min-height: 45px;
  }

  @include md {
    min-width: 100px;
    min-height: 40px;
  }
}

.btn--md {
  min-width: 160px;
  min-height: 60px;
}

.btn--lg {
  min-width: 193px;
  min-height: 60px;
}

.visually-hidden {
  @include visually-hidden;
}